{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Snippetbox">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{ template "title" . }} - Snippetbox</title>
  </head>
  <body>
    <header>
      <img src="/static/img/logo.png" alt="Snippetbox logo">
      <h1><a href="/">Snippetbox</a></h1>
    </header>

    <nav>
      <section>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          {{ if .AuthenticatedUser }}
            <li>
              <a href="/snippet/create">Create Snippet</a>
            </li>
          {{ end }}
        </ul>

        <ul>
          {{ if .AuthenticatedUser }}
            <li>
              <form action="/user/logout" method="post">
                <button>Logout</button>
              </form>
            </li>
          {{ else }}
            <li>
              <a href="/user/signup">Signup</a>
            </li>
            <li>
              <a href="/user/login">Login</a>
            </li>
          {{ end }}
        </ul>
      </section>
    </nav>

    <main>
      {{ with .Flash }}
        <article class="flash">{{ . }}</article>
      {{ end }}
      {{ template "body" . }}
    </main>

    {{ template "footer" . }}

    <script src="/static/js/script.js"></script>
  </body>
</html>
{{ end }}
