{{ template "base" . }}

{{ define "title" }}Snippet #{{ .Snippet.ID }}{{ end }}

{{ define "body" }}
  {{ with .Snippet }}
    <section class="snippet">
      <article class="metadata">
        <span class="title">{{ .Title }}</span>
        <span>#{{ .ID }}</span>
      </article>

      <pre><code>{{ .Content }}</code></pre>

      <article class="metadata">
        <time>Created: {{ humanDate .Created }}</time>
        <time>Expires: {{ humanDate .Expires }}</time>
      </article>
    </section>
  {{ end }}
{{ end }}
