{{ template "base" . }}

{{ define "title" }}Signup{{ end }}

{{ define "body" }}
<form action="/user/signup" method="post">
  {{ with .Form }}
    <article>
      <label>Name:</label>
      {{ with .Errors.Get "name" }}
        <label class="error">{{ . }}</label>
      {{ end }}
      <input type="text" name="name" value='{{ .Get "name" }}' required>
    </article>

    <article>
      <label>Email:</label>
      {{ with .Errors.Get "email" }}
        <label class="error">{{ . }}</label>
      {{ end }}
      <input type="email" name="email" value='{{ .Get "email" }}' required>
    </article>

    <article>
      <label>Password:</label>
      {{ with .Errors.Get "password" }}
        <label class="error">{{ . }}</label>
      {{ end }}
      <input type="password" name="password" minlength="10" required>
    </article>

    <article class="submit">
      <input type="submit" value="Signup">
    </article>
  {{ end }}
</form>
{{ end }}
